.container {
  width: 100%;
}

.poxymon-list.row {
  margin: 0;
}

a.poxymon-index {
  text-decoration: none;
  color: black;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.poxymon-index:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}