@import './components/Nav.scss';
@import './global/variables.scss';

* {
  box-sizing: border-box;
  font-family: 'Pokemon Solid', sans-serif;
}

body {
  background-color: $very-light-green;
  margin: 0;
}