@import './components/Nav.scss';
@import './components/Home.scss';
@import './global/variables.scss';
@import './components/Footer.scss';
@import './components/Poxymon.scss';
@import './components/PoxymonSingle.scss';
@import './components/PoxymonCreate.scss';
@import './components/PoxymonUpdate.scss';

* {
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
}

body {
  background-color: $very-light-green;
  margin: 0;
}

.centred {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;

}